<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" size="50"placeholder="Search.." name="search">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>

<div style="padding-left:16px">
</div>
 -->
 <div class="header">
     <form>
         <h1>Find Everything You Need</h1>
        <div class="form-box">
            <input type="text" class="search-field business" placeholder="Search  Your  Interests..." >
            <button class="search-btn" type="button">Search</button>
        </div>
     </form>
 </div>
 <input type="text" name="search" placeholder="Search..">
